 :root {
    --charcoal: #212738;
    --persian-green: #2A9D8F;
    --gold: #E9C46A;
    --sand: #F4A261;
    --sienna: #E76F51;
}

.App {
  text-align: center;
  font-family:"Quicksand", sans-serif;
  background-color: var(--charcoal);
  color: var(--gold);
}

.App-header {
  font-family:"Quicksand", sans-serif;
  background-color: var(--charcoal);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--sienna);
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

